{:name "test-runner"
 :version "0.0.1"
 :author "lemontea"
 :source "https://github.com/lemonteaa/test-runner"
 :desc "Run (Clojure) tests automatically in LightTable and display results in GUI"
 :behaviors "test_runner.behaviors"}
